
.title {background-color: orange; color: white; }

@media (prefers-color-scheme: dark) {
.title {background-color: #7900ff; color: white; }
body {background-color: #101010; color: white;}
input, textarea {background-color: #404040; color: white}
}

.title{ padding: 1em; margin: 1em 0}
body { margin:0; padding: 0 }
h1, div {text-align: center;}
.input, .collapsedInput {
	width:100%;
	transition: height 1s;
}
div>.collapsedInput {
	height: 2em;
}
div>.input {
	height:50vh;
}
@media only screen and (min-width: 500px) {
 	.input, .collapsedInput {width:80%;}
}