
.title {background-color: orange; color: white; }

@media (prefers-color-scheme: dark) {
.title {background-color: #7900ff; color: white; }
body {background-color: #101010; color: white;}
input, textarea {background-color: #404040; color: white}
}

.title{ padding: 1em; margin: 1em 0; box-sizing: border-box; width: 100%;}
body { margin:0; padding: 0; text-align: center; width: 100vw; height: 80vh}
.input, .collapsedInput {
	width:100%;
	transition: height 1s;
}
.collapsedInput {
	height: 2em;
}
.input {
	height:50%;
}
@media only screen and (min-width: 500px) {
 	.input, .collapsedInput {width:80%;}
}